@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

h1, h2, h3, h4, h5, h6{
    font-family: "Truculenta", sans-serif;
    font-weight: 700;
}

p, small, a{
    font-family: "Truculenta", sans-serif;
    font-weight: 500;
}
