//Paleta de colores de colorhunt
$custom-green: #337357;
$custom-yellow: #FFD23F;
$custom-pink: #EE4266;
$custom-violet: #5E1675;
$html: #e34c26;
$css: #2965f1;
$sass: #cc6699;
$bootstrap: #563d7c;
$git: #f34f29;
$javascript: #323330;
$vue: #42b883;