.main{
    padding: 1rem;
  
}

.myskills{
    padding: 1rem;
    &__wrapper-icon{
        display: flex;
        align-items: flex-end;
        padding: 10px;
    }
    &__icon{
        font-size: 35px;
        padding: 5px;
        &--html{
            color: $html;
        }
        &--css{
            color: $css;
        }
        &--sass{
            color: $sass;
        }
        &--bootstrap{
            color: $bootstrap;
        }
        &--git{
            color: $git;
        }
        &--javascript{
            color: $javascript;
        }
        &--vue{
            color: $vue;
        }
    }
}

.projects{
    &__image{
        width: 14rem;
    }

}

.contacts{
    &__btn{
        width: 15rem;
    }
    &__icon{
        font-size: 20px;
    }
}

@media (min-width: 768px){
    .myskills{
        &__wrapper{
            display: flex;
        }
        &__wrapper-icon{
            padding: 10px 40px;
        }
    }
}

@media (max-width: 992px){
    .projects{
        &__image{
            width: 10rem;
        }
    
    }
}

@media (max-width: 768px){
    .contacts{

        &__wrapper-btn{
            display: flex;
            justify-content: center;
        }
        &__btn{
            width: 21rem;
        }
    }
    }